/* 
https://piktochart.com/tips/dark-blue-color-palette 

Pallete used: #2 Twilight Sky

https://bestfolios.medium.com/10-great-fonts-for-portfolio-design-2debfe2f1bb9

Site to pick a good font
*/

body {
  background-color: #0D1B2A;
  font-family: "Open Sans";
}

#home {
  background-image: linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.7)), url("img/background.avif");
  background-size: cover;
  background-position: center;
  width: 100%;
  padding: 10rem 1rem;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 5px rgb(80,0,0);
}
.picture {
  background: #f3f3f3;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  box-shadow: 0 0 2px 2px #b3b3b3;
  overflow: hidden;
  display: inline-block;
  margin: 0 auto 1rem auto;
}
.headshot {
  width: 100%;
  height: auto;
}

.section {
  display: flex;
  gap: 20px;
  padding: 2rem;
}
.section > div {
  flex: 1;
  background: #E0E1DD;
  text-align: center;
  padding: 2rem;
}
